In [12]:
import pandas as pd

In [13]:
# FILTERING :
# Q1, Get me the employees details who are having salary more than 50K and they belongs to
# deptno = 10
# SQL : select * from emp where dept_no=10 and salary>50000
# way 1:
import pandas as pd
df = pd.read_csv("venv/emp_data.csv")
dept_no_10 =df['deptno']==10
sal_50000=df['salary']>50000
final_filter = dept_no_10 & sal_50000
# way 2
df[(df['deptno'] == 10) & (df['salary'] > 50000)]

    eno         ename  salary  deptno         doj
17  118  Sanjay Bhatt   51000      10  2020-08-25
33  134    Varun Shah   56000      10  2021-05-05

In [17]:
# Q2. Get me all the employees who belongs to either deptno 10 or deptno 20
# way 1:
df = pd.read_csv("venv/emp_data.csv")
dept_no_10 = df['deptno']==10
dept_no_20 = df['deptno']==20
final_filter = dept_no_10 | dept_no_20

In [18]:
df[final_filter]

    eno           ename  salary  deptno         doj
0   101     Amit Sharma   42000      10  2021-03-15
1   102     Priya Desai   52000      20  2020-07-10
2   103     Rohan Mehta   38000      10  2022-02-19
5   106    Deepak Yadav   33000      10  2023-01-22
6   107      Neha Gupta   61000      20  2020-05-28
9   110     Suresh Iyer   49000      10  2022-11-08
11  112   Vikas Chauhan   54000      20  2021-02-20
12  113     Arjun Verma   47000      10  2020-12-01
14  115     Pooja Singh   60000      20  2019-11-14
17  118    Sanjay Bhatt   51000      10  2020-08-25
18  119     Alka Pandey   57000      20  2019-09-10
21  122  Harish Chauhan   37000      10  2023-02-28
22  123    Nidhi Shukla   62000      20  2019-04-19
25  126     Ashok Menon   34000      10  2023-05-20
27  128      Rohit Rane   51000      20  2021-04-14
29  130     Ankit Sinha   45000      10  2023-01-10
31  132     Tarun Ghosh   47000      20  2020-12-12
33  134      Varun Shah   56000      10  2021-05-05
35  136    Nilesh Patil   49000      20  2019-10-17
37  138    Harsha Kumar   37000      10  2023-07-17
39  140    Smita Chawla   55000      20  2021-09-25
41  142     Tanuja Nair   35000      10  2023-08-14
42  143    Ajay Trivedi   52000      20  2019-05-27
45  146    Jyoti Mishra   48000      10  2022-10-04
47  148    Kirti Bansal   54000      20  2020-09-19

In [19]:
# Q3. Get me all the employees who do not belongs to deptno 10
# SQL : select * from emp where dept_no !=10
# way 1:
df = pd.read_csv("venv/emp_data.csv")
dept_no_not_10 = df['deptno'] == 10
dept_no_not_10 = ~dept_no_10
df[dept_no_not_10]

    eno           ename  salary  deptno         doj
1   102     Priya Desai   52000      20  2020-07-10
3   104      Sneha Nair   47000      30  2021-12-05
4   105     Kiran Patel   55000      40  2019-08-17
6   107      Neha Gupta   61000      20  2020-05-28
7   108      Ravi Kumar   44000      30  2022-09-16
8   109    Anjali Reddy   58000      40  2021-06-30
10  111     Meena Joshi   36000      30  2023-04-12
11  112   Vikas Chauhan   54000      20  2021-02-20
13  114    Komal Shetty   41000      40  2023-03-18
14  115     Pooja Singh   60000      20  2019-11-14
15  116   Manish Tiwari   35000      30  2023-07-09
16  117        Ritu Das   43000      40  2022-05-23
18  119     Alka Pandey   57000      20  2019-09-10
19  120      Mohit Jain   46000      30  2021-10-01
20  121       Divya Rao   40000      40  2022-01-11
22  123    Nidhi Shukla   62000      20  2019-04-19
23  124     Sameer Khan   48000      30  2021-09-07
24  125      Tanya Paul   55000      40  2020-03-30
26  127    Kavita Joshi   46000      30  2022-08-03
27  128      Rohit Rane   51000      20  2021-04-14
28  129    Bhavana Iyer   58000      40  2020-06-22
30  131   Seema Agarwal   39000      30  2023-06-25
31  132     Tarun Ghosh   47000      20  2020-12-12
32  133    Payal Bhatia   52000      40  2022-07-08
34  135  Aarti Kulkarni   43000      30  2023-03-30
35  136    Nilesh Patil   49000      20  2019-10-17
36  137    Deepali Rane   61000      40  2020-01-09
38  139   Rakesh Jadhav   48000      30  2022-02-11
39  140    Smita Chawla   55000      20  2021-09-25
40  141   Gaurav Pillai   60000      40  2020-04-18
42  143    Ajay Trivedi   52000      20  2019-05-27
43  144     Rachita Rao   44000      30  2022-06-13
44  145     Vivek Joshi   57000      40  2021-02-08
46  147  Omkar Deshmukh   42000      30  2023-05-01
47  148    Kirti Bansal   54000      20  2020-09-19

In [20]:
# Sorting ( similar to order by clause in SQL )
# sort by value ( sort_value()), by default in ascending order
# Q1. Sort the data in ascending order of depnto
df.sort_values(by='deptno',ascending=True)

    eno           ename  salary  deptno         doj
0   101     Amit Sharma   42000      10  2021-03-15
2   103     Rohan Mehta   38000      10  2022-02-19
5   106    Deepak Yadav   33000      10  2023-01-22
9   110     Suresh Iyer   49000      10  2022-11-08
12  113     Arjun Verma   47000      10  2020-12-01
29  130     Ankit Sinha   45000      10  2023-01-10
21  122  Harish Chauhan   37000      10  2023-02-28
17  118    Sanjay Bhatt   51000      10  2020-08-25
25  126     Ashok Menon   34000      10  2023-05-20
45  146    Jyoti Mishra   48000      10  2022-10-04
37  138    Harsha Kumar   37000      10  2023-07-17
33  134      Varun Shah   56000      10  2021-05-05
41  142     Tanuja Nair   35000      10  2023-08-14
22  123    Nidhi Shukla   62000      20  2019-04-19
31  132     Tarun Ghosh   47000      20  2020-12-12
27  128      Rohit Rane   51000      20  2021-04-14
18  119     Alka Pandey   57000      20  2019-09-10
39  140    Smita Chawla   55000      20  2021-09-25
47  148    Kirti Bansal   54000      20  2020-09-19
42  143    Ajay Trivedi   52000      20  2019-05-27
11  112   Vikas Chauhan   54000      20  2021-02-20
14  115     Pooja Singh   60000      20  2019-11-14
6   107      Neha Gupta   61000      20  2020-05-28
1   102     Priya Desai   52000      20  2020-07-10
35  136    Nilesh Patil   49000      20  2019-10-17
30  131   Seema Agarwal   39000      30  2023-06-25
19  120      Mohit Jain   46000      30  2021-10-01
26  127    Kavita Joshi   46000      30  2022-08-03
7   108      Ravi Kumar   44000      30  2022-09-16
3   104      Sneha Nair   47000      30  2021-12-05
15  116   Manish Tiwari   35000      30  2023-07-09
10  111     Meena Joshi   36000      30  2023-04-12
46  147  Omkar Deshmukh   42000      30  2023-05-01
43  144     Rachita Rao   44000      30  2022-06-13
34  135  Aarti Kulkarni   43000      30  2023-03-30
38  139   Rakesh Jadhav   48000      30  2022-02-11
23  124     Sameer Khan   48000      30  2021-09-07
8   109    Anjali Reddy   58000      40  2021-06-30
13  114    Komal Shetty   41000      40  2023-03-18
4   105     Kiran Patel   55000      40  2019-08-17
28  129    Bhavana Iyer   58000      40  2020-06-22
24  125      Tanya Paul   55000      40  2020-03-30
16  117        Ritu Das   43000      40  2022-05-23
20  121       Divya Rao   40000      40  2022-01-11
36  137    Deepali Rane   61000      40  2020-01-09
32  133    Payal Bhatia   52000      40  2022-07-08
40  141   Gaurav Pillai   60000      40  2020-04-18
44  145     Vivek Joshi   57000      40  2021-02-08

In [24]:
# Q1. Sort the data in descending order of depnto
df.sort_values(by='deptno',ascending=False)

    eno           ename  salary  deptno         doj
4   105     Kiran Patel   55000      40  2019-08-17
8   109    Anjali Reddy   58000      40  2021-06-30
13  114    Komal Shetty   41000      40  2023-03-18
40  141   Gaurav Pillai   60000      40  2020-04-18
24  125      Tanya Paul   55000      40  2020-03-30
28  129    Bhavana Iyer   58000      40  2020-06-22
20  121       Divya Rao   40000      40  2022-01-11
16  117        Ritu Das   43000      40  2022-05-23
32  133    Payal Bhatia   52000      40  2022-07-08
36  137    Deepali Rane   61000      40  2020-01-09
44  145     Vivek Joshi   57000      40  2021-02-08
3   104      Sneha Nair   47000      30  2021-12-05
10  111     Meena Joshi   36000      30  2023-04-12
15  116   Manish Tiwari   35000      30  2023-07-09
7   108      Ravi Kumar   44000      30  2022-09-16
34  135  Aarti Kulkarni   43000      30  2023-03-30
26  127    Kavita Joshi   46000      30  2022-08-03
38  139   Rakesh Jadhav   48000      30  2022-02-11
46  147  Omkar Deshmukh   42000      30  2023-05-01
43  144     Rachita Rao   44000      30  2022-06-13
23  124     Sameer Khan   48000      30  2021-09-07
30  131   Seema Agarwal   39000      30  2023-06-25
19  120      Mohit Jain   46000      30  2021-10-01
47  148    Kirti Bansal   54000      20  2020-09-19
1   102     Priya Desai   52000      20  2020-07-10
42  143    Ajay Trivedi   52000      20  2019-05-27
35  136    Nilesh Patil   49000      20  2019-10-17
39  140    Smita Chawla   55000      20  2021-09-25
22  123    Nidhi Shukla   62000      20  2019-04-19
6   107      Neha Gupta   61000      20  2020-05-28
11  112   Vikas Chauhan   54000      20  2021-02-20
14  115     Pooja Singh   60000      20  2019-11-14
27  128      Rohit Rane   51000      20  2021-04-14
18  119     Alka Pandey   57000      20  2019-09-10
31  132     Tarun Ghosh   47000      20  2020-12-12
12  113     Arjun Verma   47000      10  2020-12-01
0   101     Amit Sharma   42000      10  2021-03-15
9   110     Suresh Iyer   49000      10  2022-11-08
2   103     Rohan Mehta   38000      10  2022-02-19
5   106    Deepak Yadav   33000      10  2023-01-22
29  130     Ankit Sinha   45000      10  2023-01-10
25  126     Ashok Menon   34000      10  2023-05-20
17  118    Sanjay Bhatt   51000      10  2020-08-25
21  122  Harish Chauhan   37000      10  2023-02-28
37  138    Harsha Kumar   37000      10  2023-07-17
33  134      Varun Shah   56000      10  2021-05-05
41  142     Tanuja Nair   35000      10  2023-08-14
45  146    Jyoti Mishra   48000      10  2022-10-04

In [26]:
# Sort the data based on multiple columns
# Q1. Sort the data in ascending order of depnto and descending order of salary
df.sort_values(by=['deptno','salary'],ascending=[True,False])

    eno           ename  salary  deptno         doj
33  134      Varun Shah   56000      10  2021-05-05
17  118    Sanjay Bhatt   51000      10  2020-08-25
9   110     Suresh Iyer   49000      10  2022-11-08
45  146    Jyoti Mishra   48000      10  2022-10-04
12  113     Arjun Verma   47000      10  2020-12-01
29  130     Ankit Sinha   45000      10  2023-01-10
0   101     Amit Sharma   42000      10  2021-03-15
2   103     Rohan Mehta   38000      10  2022-02-19
21  122  Harish Chauhan   37000      10  2023-02-28
37  138    Harsha Kumar   37000      10  2023-07-17
41  142     Tanuja Nair   35000      10  2023-08-14
25  126     Ashok Menon   34000      10  2023-05-20
5   106    Deepak Yadav   33000      10  2023-01-22
22  123    Nidhi Shukla   62000      20  2019-04-19
6   107      Neha Gupta   61000      20  2020-05-28
14  115     Pooja Singh   60000      20  2019-11-14
18  119     Alka Pandey   57000      20  2019-09-10
39  140    Smita Chawla   55000      20  2021-09-25
11  112   Vikas Chauhan   54000      20  2021-02-20
47  148    Kirti Bansal   54000      20  2020-09-19
1   102     Priya Desai   52000      20  2020-07-10
42  143    Ajay Trivedi   52000      20  2019-05-27
27  128      Rohit Rane   51000      20  2021-04-14
35  136    Nilesh Patil   49000      20  2019-10-17
31  132     Tarun Ghosh   47000      20  2020-12-12
23  124     Sameer Khan   48000      30  2021-09-07
38  139   Rakesh Jadhav   48000      30  2022-02-11
3   104      Sneha Nair   47000      30  2021-12-05
19  120      Mohit Jain   46000      30  2021-10-01
26  127    Kavita Joshi   46000      30  2022-08-03
7   108      Ravi Kumar   44000      30  2022-09-16
43  144     Rachita Rao   44000      30  2022-06-13
34  135  Aarti Kulkarni   43000      30  2023-03-30
46  147  Omkar Deshmukh   42000      30  2023-05-01
30  131   Seema Agarwal   39000      30  2023-06-25
10  111     Meena Joshi   36000      30  2023-04-12
15  116   Manish Tiwari   35000      30  2023-07-09
36  137    Deepali Rane   61000      40  2020-01-09
40  141   Gaurav Pillai   60000      40  2020-04-18
8   109    Anjali Reddy   58000      40  2021-06-30
28  129    Bhavana Iyer   58000      40  2020-06-22
44  145     Vivek Joshi   57000      40  2021-02-08
4   105     Kiran Patel   55000      40  2019-08-17
24  125      Tanya Paul   55000      40  2020-03-30
32  133    Payal Bhatia   52000      40  2022-07-08
16  117        Ritu Das   43000      40  2022-05-23
13  114    Komal Shetty   41000      40  2023-03-18
20  121       Divya Rao   40000      40  2022-01-11

In [27]:
# Sorting by index
df.sort_index(ascending=False)

    eno           ename  salary  deptno         doj
47  148    Kirti Bansal   54000      20  2020-09-19
46  147  Omkar Deshmukh   42000      30  2023-05-01
45  146    Jyoti Mishra   48000      10  2022-10-04
44  145     Vivek Joshi   57000      40  2021-02-08
43  144     Rachita Rao   44000      30  2022-06-13
42  143    Ajay Trivedi   52000      20  2019-05-27
41  142     Tanuja Nair   35000      10  2023-08-14
40  141   Gaurav Pillai   60000      40  2020-04-18
39  140    Smita Chawla   55000      20  2021-09-25
38  139   Rakesh Jadhav   48000      30  2022-02-11
37  138    Harsha Kumar   37000      10  2023-07-17
36  137    Deepali Rane   61000      40  2020-01-09
35  136    Nilesh Patil   49000      20  2019-10-17
34  135  Aarti Kulkarni   43000      30  2023-03-30
33  134      Varun Shah   56000      10  2021-05-05
32  133    Payal Bhatia   52000      40  2022-07-08
31  132     Tarun Ghosh   47000      20  2020-12-12
30  131   Seema Agarwal   39000      30  2023-06-25
29  130     Ankit Sinha   45000      10  2023-01-10
28  129    Bhavana Iyer   58000      40  2020-06-22
27  128      Rohit Rane   51000      20  2021-04-14
26  127    Kavita Joshi   46000      30  2022-08-03
25  126     Ashok Menon   34000      10  2023-05-20
24  125      Tanya Paul   55000      40  2020-03-30
23  124     Sameer Khan   48000      30  2021-09-07
22  123    Nidhi Shukla   62000      20  2019-04-19
21  122  Harish Chauhan   37000      10  2023-02-28
20  121       Divya Rao   40000      40  2022-01-11
19  120      Mohit Jain   46000      30  2021-10-01
18  119     Alka Pandey   57000      20  2019-09-10
17  118    Sanjay Bhatt   51000      10  2020-08-25
16  117        Ritu Das   43000      40  2022-05-23
15  116   Manish Tiwari   35000      30  2023-07-09
14  115     Pooja Singh   60000      20  2019-11-14
13  114    Komal Shetty   41000      40  2023-03-18
12  113     Arjun Verma   47000      10  2020-12-01
11  112   Vikas Chauhan   54000      20  2021-02-20
10  111     Meena Joshi   36000      30  2023-04-12
9   110     Suresh Iyer   49000      10  2022-11-08
8   109    Anjali Reddy   58000      40  2021-06-30
7   108      Ravi Kumar   44000      30  2022-09-16
6   107      Neha Gupta   61000      20  2020-05-28
5   106    Deepak Yadav   33000      10  2023-01-22
4   105     Kiran Patel   55000      40  2019-08-17
3   104      Sneha Nair   47000      30  2021-12-05
2   103     Rohan Mehta   38000      10  2022-02-19
1   102     Priya Desai   52000      20  2020-07-10
0   101     Amit Sharma   42000      10  2021-03-15

In [28]:
# Sort the data based on multiple columns and persist in the dataframe ( original dataframe)
# Q1. Sort the data in ascending order of depnto and descending order of salary and save in the dataframe
df.sort_values(by=['deptno','salary'],ascending=[True,False],inplace=True)

In [29]:
# Grouping ( similar to group by cluase in SQL )
df

    eno           ename  salary  deptno         doj
33  134      Varun Shah   56000      10  2021-05-05
17  118    Sanjay Bhatt   51000      10  2020-08-25
9   110     Suresh Iyer   49000      10  2022-11-08
45  146    Jyoti Mishra   48000      10  2022-10-04
12  113     Arjun Verma   47000      10  2020-12-01
29  130     Ankit Sinha   45000      10  2023-01-10
0   101     Amit Sharma   42000      10  2021-03-15
2   103     Rohan Mehta   38000      10  2022-02-19
21  122  Harish Chauhan   37000      10  2023-02-28
37  138    Harsha Kumar   37000      10  2023-07-17
41  142     Tanuja Nair   35000      10  2023-08-14
25  126     Ashok Menon   34000      10  2023-05-20
5   106    Deepak Yadav   33000      10  2023-01-22
22  123    Nidhi Shukla   62000      20  2019-04-19
6   107      Neha Gupta   61000      20  2020-05-28
14  115     Pooja Singh   60000      20  2019-11-14
18  119     Alka Pandey   57000      20  2019-09-10
39  140    Smita Chawla   55000      20  2021-09-25
11  112   Vikas Chauhan   54000      20  2021-02-20
47  148    Kirti Bansal   54000      20  2020-09-19
1   102     Priya Desai   52000      20  2020-07-10
42  143    Ajay Trivedi   52000      20  2019-05-27
27  128      Rohit Rane   51000      20  2021-04-14
35  136    Nilesh Patil   49000      20  2019-10-17
31  132     Tarun Ghosh   47000      20  2020-12-12
23  124     Sameer Khan   48000      30  2021-09-07
38  139   Rakesh Jadhav   48000      30  2022-02-11
3   104      Sneha Nair   47000      30  2021-12-05
19  120      Mohit Jain   46000      30  2021-10-01
26  127    Kavita Joshi   46000      30  2022-08-03
7   108      Ravi Kumar   44000      30  2022-09-16
43  144     Rachita Rao   44000      30  2022-06-13
34  135  Aarti Kulkarni   43000      30  2023-03-30
46  147  Omkar Deshmukh   42000      30  2023-05-01
30  131   Seema Agarwal   39000      30  2023-06-25
10  111     Meena Joshi   36000      30  2023-04-12
15  116   Manish Tiwari   35000      30  2023-07-09
36  137    Deepali Rane   61000      40  2020-01-09
40  141   Gaurav Pillai   60000      40  2020-04-18
8   109    Anjali Reddy   58000      40  2021-06-30
28  129    Bhavana Iyer   58000      40  2020-06-22
44  145     Vivek Joshi   57000      40  2021-02-08
4   105     Kiran Patel   55000      40  2019-08-17
24  125      Tanya Paul   55000      40  2020-03-30
32  133    Payal Bhatia   52000      40  2022-07-08
16  117        Ritu Das   43000      40  2022-05-23
13  114    Komal Shetty   41000      40  2023-03-18
20  121       Divya Rao   40000      40  2022-01-11

In [30]:
df = pd.read_csv("venv/emp_data.csv")

In [31]:
df

    eno           ename  salary  deptno         doj
0   101     Amit Sharma   42000      10  2021-03-15
1   102     Priya Desai   52000      20  2020-07-10
2   103     Rohan Mehta   38000      10  2022-02-19
3   104      Sneha Nair   47000      30  2021-12-05
4   105     Kiran Patel   55000      40  2019-08-17
5   106    Deepak Yadav   33000      10  2023-01-22
6   107      Neha Gupta   61000      20  2020-05-28
7   108      Ravi Kumar   44000      30  2022-09-16
8   109    Anjali Reddy   58000      40  2021-06-30
9   110     Suresh Iyer   49000      10  2022-11-08
10  111     Meena Joshi   36000      30  2023-04-12
11  112   Vikas Chauhan   54000      20  2021-02-20
12  113     Arjun Verma   47000      10  2020-12-01
13  114    Komal Shetty   41000      40  2023-03-18
14  115     Pooja Singh   60000      20  2019-11-14
15  116   Manish Tiwari   35000      30  2023-07-09
16  117        Ritu Das   43000      40  2022-05-23
17  118    Sanjay Bhatt   51000      10  2020-08-25
18  119     Alka Pandey   57000      20  2019-09-10
19  120      Mohit Jain   46000      30  2021-10-01
20  121       Divya Rao   40000      40  2022-01-11
21  122  Harish Chauhan   37000      10  2023-02-28
22  123    Nidhi Shukla   62000      20  2019-04-19
23  124     Sameer Khan   48000      30  2021-09-07
24  125      Tanya Paul   55000      40  2020-03-30
25  126     Ashok Menon   34000      10  2023-05-20
26  127    Kavita Joshi   46000      30  2022-08-03
27  128      Rohit Rane   51000      20  2021-04-14
28  129    Bhavana Iyer   58000      40  2020-06-22
29  130     Ankit Sinha   45000      10  2023-01-10
30  131   Seema Agarwal   39000      30  2023-06-25
31  132     Tarun Ghosh   47000      20  2020-12-12
32  133    Payal Bhatia   52000      40  2022-07-08
33  134      Varun Shah   56000      10  2021-05-05
34  135  Aarti Kulkarni   43000      30  2023-03-30
35  136    Nilesh Patil   49000      20  2019-10-17
36  137    Deepali Rane   61000      40  2020-01-09
37  138    Harsha Kumar   37000      10  2023-07-17
38  139   Rakesh Jadhav   48000      30  2022-02-11
39  140    Smita Chawla   55000      20  2021-09-25
40  141   Gaurav Pillai   60000      40  2020-04-18
41  142     Tanuja Nair   35000      10  2023-08-14
42  143    Ajay Trivedi   52000      20  2019-05-27
43  144     Rachita Rao   44000      30  2022-06-13
44  145     Vivek Joshi   57000      40  2021-02-08
45  146    Jyoti Mishra   48000      10  2022-10-04
46  147  Omkar Deshmukh   42000      30  2023-05-01
47  148    Kirti Bansal   54000      20  2020-09-19

In [32]:
# Q1 . Get me total salary per department
# SQL  : select deptno,sum(salary) as total_salary from emp group by deptno
df_grouped = df.groupby('deptno')['salary'].sum()

In [33]:
df_grouped

deptno
10    552000
20    654000
30    518000
40    580000
Name: salary, dtype: int64

In [34]:
type(df_grouped)

pandas.core.series.Series

In [35]:
df_grouped.reset_index()

   deptno  salary
0      10  552000
1      20  654000
2      30  518000
3      40  580000

In [39]:
# Q1 . Get me total salary per department
# way 1: 
df_grouped = df.groupby('deptno')['salary'].sum().reset_index()

In [40]:
df_grouped.rename(columns={'salary':'total_salary','deptno':'department_number'})

   department_number  total_salary
0                 10        552000
1                 20        654000
2                 30        518000
3                 40        580000

In [41]:
# Way 2:  In a single line 
df.groupby('deptno')['salary'].sum().reset_index().rename(columns={'salary':'total_salary'})

   deptno  total_salary
0      10        552000
1      20        654000
2      30        518000
3      40        580000

In [4]:
for cnk in pd.read_csv("venv/emp_data.csv",chunksize=5):
    print(cnk)

   eno        ename  salary  deptno         doj
0  101  Amit Sharma   42000      10  2021-03-15
1  102  Priya Desai   52000      20  2020-07-10
2  103  Rohan Mehta   38000      10  2022-02-19
3  104   Sneha Nair   47000      30  2021-12-05
4  105  Kiran Patel   55000      40  2019-08-17
   eno         ename  salary  deptno         doj
5  106  Deepak Yadav   33000      10  2023-01-22
6  107    Neha Gupta   61000      20  2020-05-28
7  108    Ravi Kumar   44000      30  2022-09-16
8  109  Anjali Reddy   58000      40  2021-06-30
9  110   Suresh Iyer   49000      10  2022-11-08
    eno          ename  salary  deptno         doj
10  111    Meena Joshi   36000      30  2023-04-12
11  112  Vikas Chauhan   54000      20  2021-02-20
12  113    Arjun Verma   47000      10  2020-12-01
13  114   Komal Shetty   41000      40  2023-03-18
14  115    Pooja Singh   60000      20  2019-11-14
    eno          ename  salary  deptno         doj
15  116  Manish Tiwari   35000      30  2023-07-09
16  117       Ritu Das   43000      40  2022-05-23
17  118   Sanjay Bhatt   51000      10  2020-08-25
18  119    Alka Pandey   57000      20  2019-09-10
19  120     Mohit Jain   46000      30  2021-10-01
    eno           ename  salary  deptno         doj
20  121       Divya Rao   40000      40  2022-01-11
21  122  Harish Chauhan   37000      10  2023-02-28
22  123    Nidhi Shukla   62000      20  2019-04-19
23  124     Sameer Khan   48000      30  2021-09-07
24  125      Tanya Paul   55000      40  2020-03-30
    eno         ename  salary  deptno         doj
25  126   Ashok Menon   34000      10  2023-05-20
26  127  Kavita Joshi   46000      30  2022-08-03
27  128    Rohit Rane   51000      20  2021-04-14
28  129  Bhavana Iyer   58000      40  2020-06-22
29  130   Ankit Sinha   45000      10  2023-01-10
    eno           ename  salary  deptno         doj
30  131   Seema Agarwal   39000      30  2023-06-25
31  132     Tarun Ghosh   47000      20  2020-12-12
32  133    Payal Bhatia   52000      40  2022-07-08
33  134      Varun Shah   56000      10  2021-05-05
34  135  Aarti Kulkarni   43000      30  2023-03-30
    eno          ename  salary  deptno         doj
35  136   Nilesh Patil   49000      20  2019-10-17
36  137   Deepali Rane   61000      40  2020-01-09
37  138   Harsha Kumar   37000      10  2023-07-17
38  139  Rakesh Jadhav   48000      30  2022-02-11
39  140   Smita Chawla   55000      20  2021-09-25
    eno          ename  salary  deptno         doj
40  141  Gaurav Pillai   60000      40  2020-04-18
41  142    Tanuja Nair   35000      10  2023-08-14
42  143   Ajay Trivedi   52000      20  2019-05-27
43  144    Rachita Rao   44000      30  2022-06-13
44  145    Vivek Joshi   57000      40  2021-02-08
    eno           ename  salary  deptno         doj
45  146    Jyoti Mishra   48000      10  2022-10-04
46  147  Omkar Deshmukh   42000      30  2023-05-01
47  148    Kirti Bansal   54000      20  2020-09-19